#login {
  display: flex;
  height: 100vh;
  overflow: hidden;

  .show {
    flex: 1;
    img {
      width: 100%;
    }
  }

  #login-form {
    width: 40%;
    position: relative;
    text-align: center;

    .content {
      width: 100%;
      position: absolute;
      top: 40%;
      transform: translateY(-50%);

      .form {
        width: 60%;
        margin: 0 auto;

        .field {
          height: 70px;
          padding: 0 20px;

          &>input {
            height: 40px;
            font-size: 20px;
          }
        }

        .submit {
          input {
            margin-left: 10%;
            width: 90%;
          }
        }
      }
    }
  }
}