#home {
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 20px;
  .left {
    grid-column: 1 / 2;
  }
  .middle {
    grid-column: 2 / 6;
  }
  .right {
    grid-column: 6 / 8;
  }
}