.main {
  width: 1440px;
  height: 80%;
  overflow: hidden;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  .content {
    grid-column: 1/7;
  }
  .tools {
    grid-column: 7/9;
    background-color: #cacaca;
  }
}