.header {
  display: flex;
  height: 60px;

  .logo {
    width: 300px;
    text-align: center;
    line-height: 60px;
  }

  .header-nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      justify-content: space-between;

      li {
        padding: 0 20px;

        a {
          text-decoration: none;
        }
      }
    }
  }

  .header-right {
    width: 300px;
    text-align: center;
    line-height: 60px;

    .entry {
      button {
        padding: 20px;
        margin-left: 10px;
      }

      .sign-up {
        background-color: #49ad09;
      }
    }
  }
}