.header {
  display: flex;
  height: 60px;
  background-color: #ffffff;
  .logo {
    width: 300px;
    text-align: center;
    line-height: 60px;
  }

  .header-nav {
    flex: 1;
    display: flex;

    ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      justify-content: space-between;
      font-size: $littler-font;
      li {
        padding: 0 20px;

        a {
          text-decoration: none;
          font-weight: 500;
          &:visited {
            color: $darkest-gray;
          }
        }
      }
    }
  }

  .header-right {
    width: 300px;
    text-align: center;
    line-height: 60px;

    .entry {
      button {
        padding: 10px 20px;
        margin-left: 10px;
        border: 0px;
        box-shadow: $littler-shadow;
        font-size: $small-font;
      }

      .sign-up {

      }
    }
  }
}