.header {
  display: flex;
  height: 100px;
}

.header .logo {
  width: 300px;
  text-align: center;
  line-height: 100px;
}

.header .header-nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header .header-nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: space-between;
}

.header .header-nav ul li {
  padding: 20px;
}

.header .header-nav ul li a {
  text-decoration: none;
}

.header .header-right {
  width: 300px;
  text-align: center;
  line-height: 100px;
}

.header .header-right .entry button {
  padding: 20px;
  margin-left: 10px;
}

.header .header-right .entry .sign-up {
  background-color: #49ad09;
}
