
// project base hue 【项目的基础色调】
$darkest-gray: #111827;
$darker-gray: #1F2937;
$dark-gray: #374151;
$middle-dark-gray: #4B5563;
$gray-one: #6B7280;
$gray-two: #9CA3AF;
$middle-light-gray: #D1D5DB;
$light-gray: #E5E7EB;
$lighter-gray: #F3F4F6;
$lightest-gray: #F9FAFB;

// project base box-shadow 【项目的基础阴影】
$little-shadow: 0 1px 2px hsla(0, 0%, 0%, .24), 0 1px 3px hsla(0, 0%, 0%, .12);
$littler-shadow: 0 2px 4px hsla(0, 0%, 0%, .10), 0 3px 6px hsla(0, 0%, 0%, .15);
$middle-shadow: 0 3px 6px hsla(0, 0%, 0%, .10), 0 10px 20px hsla(0, 0%, 0%, .15);
$more-middle-shadow: 0 5px 10px hsla(0, 0%, 0%, .2), 0 15px 25px hsla(0, 0%, 0%, .2);
$deep-shadow: 0 20px 40px hsla(0, 0%, 0%, .2);

// project base font 【项目基础字体】
// size
$small-font: 12px;
$little-font: 14px;
$littler-font: 18px;
$normal-font: 24px;
$little-title: 30px;
$middle-title: 36px;
$theme-title: 48px;
// weight font is repairing (base keynote --> round) [字重、样式正在准备。字体主要基调为 --> 圆润]



