.attention {
  padding: 0px;
  margin: 0px;
  list-style: none;
  li {
    padding: 10px;
    margin: 10px auto;
    background-color: #ffffff;
    font-size: $little-font;
    border-radius: 8px;
    box-shadow: $little-shadow;
  }
}