.write_space {
  & > div {
    margin: 30px auto;
    width: 30%;
  }

  .title {
    input {
      width: 100%;
      outline: none;
      border: 0px;
      padding: 30px 10px;
      font-size: 24px;

      &::-webkit-input-placeholder {
        letter-spacing: 1px
      }
    }

    .cover {
      margin: 0 auto;
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .show_cover {
        img {
          width: 100%;
          height: 300px;
        }
      }
    }

    .intro {
      textarea {
        width: 100%;
        height: 100px;
        outline: none;
        border: 0px;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
}