.manage-layout {
  display: flex;
  margin: 0px 1.975vw;
  .profile-aside {
    width: 296px;
    height: 997px;
    padding: 1.48vw;
    border-right: 1px solid #DDDDDD;
    text-align: center;
    word-break: break-all;
    .logo {
      height: 120px;
      margin-bottom: 96px;
    }
  }
  .profile-body-right {
    margin-left: 16px;
    flex: 1;
    .profile-header {
      box-sizing: border-box;
      height: 6.05vw;
      margin-bottom: 1.224vw;
    }
    .profile-content {
      margin-top: 1.224vw;
    }
  }
}