.sidebar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
  hr {
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background-color: rgba(204,214,221,.7);
    border-top-width: 1px;
    border-style: none;
  }
  .write {
    & > a {
      display: flex;
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
      text-decoration: none;
      justify-content: center;
      box-shadow: $middle-shadow;
      border-radius: 8px;
      background-color: $middle-dark-gray;
      color: #ffff;
      font-size: $normal-font;
    }
    & > a:hover {
      box-shadow: 0 0 0;
      //background-color: rgba(41,98,255,0.9);
    }
  }
  .category {
    width: 100%;
  }
  .tools {
    font-size: $normal-font;
  }
}