.popular-content {
  background-color: #ffffff;
  padding: 10px;
  h2 {
    font-size: $normal-font;
  }
  .learn-more {
    display: inline-block;
    color: rgba(41,98,255,1);
    font-size: $little-font;
    border: 1px solid rgba(41,98,255,1);
    border-radius: 20px;
    padding: 5px 10px;
    a {
      color: rgba(41,98,255,1);
      text-decoration: none;
    }
    &:hover {
      background: rgba(41,98,255,1);
      & > a {
        color: #ffffff;
      }
    }
  }
}