.editor {
  width: 40%;
  height: 300px;
  margin: 300px auto;
  border-radius: 8px;
  border: 1px solid rgba(229, 231, 235, 1);
  display: flex;
  flex-direction: column;
  .editor-tool-tab {
    height: 50px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: rgb(238, 238, 238);
  }
  .editor-body {
    padding: 10px;
    flex: 1;
  }
  .editor-footer {
    height: 30px;
    line-height: 30px;
    background: rgb(238, 238, 238);
    text-align: center;
  }
}