
.article-list {
  .list {
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid rgba(229, 231, 235, 1);
    .article:not(:last-child) {
      border-bottom: 1px solid rgba(204, 214, 221, 0.7);;
    }
    .article {
      box-sizing: border-box;
      padding: 20px;
      text-align: left;
      .header {
        position: relative;
        div:first-child {
          img {
            box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, .2);
          }
        }
        .info {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          p {
            margin: 0px 0px 0px 10px;
          }
          & > p:last-child {
            font-size: $small-font;
            font-weight: 300;
          }
        }
      }
      .body {
        display: flex;
        .content {
          flex: 1;
          padding-right: 20px;
          .article-title {
            margin-bottom: 4px;
            font-size: $normal-font;
          }
          p {
            margin-top: 4px;
            color: $middle-dark-gray;
          }
        }
        .poster {
          width: 30%;
          img {
            border-radius: 6px;
            width: 100%;
          }
        }
      }
      .footer {
        display: flex;
        justify-content: space-between;
        height: 50px;
        div:first-child {
          width: 30%;
          display: flex;
          align-items: center;
          & > div:first-child {
            font-size: $littler-font;
            font-weight: 500;
          }
          & > div:last-child {
            display: flex;
            align-items: center;
            font-size: $little-font;
            font-weight: 500;
            color: $middle-light-gray;
          }
        }
        div:last-child {
          font-size: $littler-font;
          font-weight: 500;
        }
      }
    }
  }
}
