.personal-header {

  .header-poster {
    height: 400px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }

  .personal-content {
    border: 1px solid rgba(229, 231, 235, 1);
    border-bottom-right-radius:8px;
    border-bottom-left-radius:8px;
    background-color: #ffffff;
    .header-content {
      display: flex;
      .personal-avatar {
        width: 20%;
        position: relative;

        & > div {
          width: 50%;
          position: absolute;
          right: 10%;
          transform: translateY(-50%);
          display: inline;
          background-color: #ffffff;
          border-radius: 50%;
          box-sizing: border-box;
          padding: 5px;
          box-shadow: $middle-shadow;
          img {
            width: 100%;
            border-radius: 50%;
            vertical-align: bottom;
          }
        }
      }
      .personal-info {
        flex: 1;
        text-align: left;
        a > p {
          margin: 0;
        }
        & > p {
          height: 60px;
        }
      }
    }
    .content-footer {
      ul {
        list-style-type: none;
        padding: 0px;
        margin-left: 20%;
        display: grid;
        text-align: left;
        grid-template-columns: repeat(5, 1fr);
        li {

        }
      }
    }
  }


}